body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #034D3B
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
  color:#C9ECEF;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 10px;
  transition: 2s;
}

ul:hover li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}


ul li:nth-child(1) {
  transition-delay: 0s;
}
ul li:nth-child(2) {
  transition-delay: .4s;
}

ul li:nth-child(3) {
  transition-delay: .8s;
}
ul li:nth-child(4) {
  transition-delay: 1.2s;
}
ul li:nth-child(5) {
  transition-delay: 1.6s;
}